

@media (min-width : 740px) {
    .mobile-menu-btn {
        display: none;
    }
}
    


/* mobile */
@media (max-width : 740px ) {
    #nav {
        
    }
    #nav li {
        display: block;
    }

    .search-btn {
        display:none ;
    }
   


}